<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8da5ba">  <td>18/11/16 16:30:26</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ExtentReportsClass.startReport()[pri:0, instance:com.orwell.api.ExtentReportsClass@3abbfa04]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/11/16 16:30:27</td>   <td>516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportsClass.failTest()[pri:0, instance:com.orwell.api.ExtentReportsClass@3abbfa04]">failTest</td> 
  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/11/16 16:30:27</td>   <td>537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReportsClass.getResult(org.testng.ITestResult)[pri:0, instance:com.orwell.api.ExtentReportsClass@3abbfa04]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/11/16 16:30:27</td>   <td>541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportsClass.passTest()[pri:0, instance:com.orwell.api.ExtentReportsClass@3abbfa04]">passTest</td> 
  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/11/16 16:30:27</td>   <td>545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReportsClass.getResult(org.testng.ITestResult)[pri:0, instance:com.orwell.api.ExtentReportsClass@3abbfa04]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/11/16 16:30:27</td>   <td>546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportsClass.skipTest()[pri:0, instance:com.orwell.api.ExtentReportsClass@3abbfa04]">skipTest</td> 
  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/11/16 16:30:27</td>   <td>550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReportsClass.getResult(org.testng.ITestResult)[pri:0, instance:com.orwell.api.ExtentReportsClass@3abbfa04]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/11/16 16:30:27</td>   <td>551</td> <td>&nbsp;</td><td title="&lt;&lt;ExtentReportsClass.endReport()[pri:0, instance:com.orwell.api.ExtentReportsClass@3abbfa04]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
</table>
